# Server Configuration
PORT=5001
NODE_ENV=development

# MySQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=grow_portal

# JWT Authentication
JWT_SECRET=growvidya_jwt_secret_key
JWT_EXPIRES_IN=3650d

# Cookie Session Configuration
COOKIE_SECRET=growvidya_cookie_secret_key_2026
COOKIE_NAME=growvidya_session

# CORS Configuration
CORS_ORIGINS=http://localhost:3000,http://192.168.29.243:3000,http://localhost:5174,http://192.168.29.144:5174,http://192.168.29.243:5174,http://192.168.29.144:3000,http://192.168.29.144:5173,http://localhost:5174
# Razorpay Payment Gateway Configuration
RAZORPAY_KEY_ID=rzp_test_TaMXvhupLKahuL
RAZORPAY_KEY_SECRET=q6JQHhSsV3SIZXWLOA05zsmV
RAZORPAY_WEBHOOK_SECRET=growvidya_webhook_secret_2026

# Web Push Notification (VAPID) Configuration
VAPID_PUBLIC_KEY=BE8rLKS6nZhNYjQWy-Bn2kRx8nmx9cGVfMnkZNx0qw00BYn0AzBV9RpAhfYpddei3Me2lHb38Z097iPh1rM0Le0
VAPID_PRIVATE_KEY=eCR6bOcTRQZgXBC4_svZJe-cuZagLgOCGOkziXzt0QA
VAPID_SUBJECT=mailto:admin@growvidya.in
